In [1]:
import sys
sys.path.append("..")

#### Imports

In [2]:
from finnlp.data_sources.social_media.finnhub_sentiment import Finnhub_Sentiment

#### Config

In [3]:
stock = "AAPL"
start_date = "2023-01-16"
end_date = "2023-02-19"
token = "YOUR_FINNHUB_TOKEN"

#### News_downloader

In [4]:
downloader = Finnhub_Sentiment({"token":token})

In [ ]:
downloader.download_sentiment(start_date,end_date,stock)

In [6]:
downloader.reddit.shape

(477, 7)

In [7]:
downloader.reddit.head(5)

,atTime,mention,positiveScore,negativeScore,positiveMention,negativeMention,score
55,2023-01-16 00:00:00,3,0.832384,-0.992166,1,1,-0.087573
54,2023-01-16 01:00:00,1,0.000000,-0.738558,0,1,-1.000000
53,2023-01-16 03:00:00,1,0.871529,0.000000,1,0,1.000000
52,2023-01-16 06:00:00,1,0.000000,-0.995663,0,1,-1.000000
51,2023-01-16 08:00:00,1,0.000000,-0.999917,0,1,-1.000000

In [8]:
downloader.twitter.shape

(571, 7)

In [9]:
downloader.twitter.head(5)

,atTime,mention,positiveScore,negativeScore,positiveMention,negativeMention,score
63,2023-01-16 00:00:00,185,0.944244,-0.934446,104,56,0.304738
62,2023-01-16 01:00:00,175,0.957532,-0.934711,82,74,0.063303
61,2023-01-16 02:00:00,149,0.953763,-0.943735,67,71,-0.023705
60,2023-01-16 03:00:00,176,0.952826,-0.941478,98,58,0.261998
59,2023-01-16 04:00:00,234,0.917571,-0.933355,119,94,0.108952