In [2]:
import pandas as pd
import sys
sys.path.append("/home/ssu36/tiger/NH_competition/FinNLP")
from finnlp.data_sources.news.finnhub_date_range import Finnhub_Date_Range
from finnlp.data_sources.news.yahoo_streaming import Yahoo_Date_Range
from datasets import load_dataset

STK_QUT = pd.read_csv('STK_QUT.csv')
STK_IEM = pd.read_csv('STK_IEM.csv',encoding='EUC-KR')

data = list(STK_IEM['tck_iem_cd'].unique())
#name data
name_data = list(STK_IEM['fc_sec_eng_nm'].unique())
named_data = [ x.split() for x in name_data]
name_data = [ " ".join(x) for x in named_data]

#ticker data
ticker_data = [ x.split()[0] for x in data]

In [3]:
import financedatabase as fd

In [4]:
equities = fd.Equities()

In [27]:
df= equities.search(exchage='NMS')

exchage is not a valid column.

In [28]:
df.index

Index(['000002.SZ', '000004.SZ', '000005.SZ', '000006.SZ', '000007.SZ',
       '000009.SZ', '000010.SZ', '000014.SZ', '000016.SZ', '000017.SZ',
       ...
         'ZZMS.SG',   'ZZVA.BE',   'ZZVA.DU',    'ZZZ.TO',     'ZZZOF',
               nan,         nan,         nan,         nan,         nan],
      dtype='object', name='symbol', length=158604)

In [29]:
# def tickerTosector(ticker_data):
#   return df[df.index== x]]['sector']
sector_data = [df[df.index== x]['sector'] for x in ticker_data]

In [38]:
sector_data = [x[0] for x in sector_data]

In [43]:
ticker_information = pd.DataFrame(columns = ['ticker_data','sector_data'])
ticker_information['ticker_data'] = ticker_data
ticker_information['sector_data'] = sector_data

In [55]:
ticker_information

     ticker_data             sector_data
0           AACG        Consumer Staples
1           AADI             Health Care
2            AAL             Industrials
3           AAOI  Information Technology
4           AAON             Industrials
...          ...                     ...
2738        ZVRA             Health Care
2739        ZVSA             Health Care
2740        ZYME             Health Care
2741        ZYNE             Health Care
2742        ZYXI             Health Care

[2743 rows x 2 columns]

In [52]:
import pickle 

with open('/home/ssu36/tiger/NH_competition/data/train/ticker_information/ticker_information.pkl', 'wb') as f:
    pickle.dump(ticker_information, f)

In [56]:
with open('/home/ssu36/tiger/NH_competition/data/train/ticker_information/ticker_information.pkl', 'rb') as f:
   new_df = pickle.load(f)

In [64]:
print(list(new_df[new_df['sector_data'].isnull()]['ticker_data']))

['ACT', 'ADD', 'AGRI', 'ASTL', 'ASTR', 'AZ', 'BAER', 'BCAN', 'BITF', 'BPYPM', 'BRAG', 'BRSH', 'CACO', 'CEG', 'CERS', 'COCO', 'DGHI', 'ECX', 'ELBM', 'FLGC', 'FLNC', 'GAME', 'HITI', 'HUBC', 'HUT', 'ICCM', 'IDAI', 'INTR', 'IONR', 'JXJT', 'LITM', 'LMFA', 'LUXH', 'MCLD', 'MMV', 'MNTS', 'MTEK', 'NVEI', 'OP', 'PIII', 'QIPT', 'RAYA', 'RCAT', 'REAX', 'RILYZ', 'RNW', 'RVSN', 'RWAY', 'RWAYZ', 'SFR', 'SIDU', 'SISI', 'SLNG', 'SOND', 'SVFD', 'SVRE', 'TALS', 'TMC', 'TRMR', 'UDMY', 'VEDU', 'VERA', 'VIA', 'VIASP', 'VLCN', 'VOXR', 'VQS', 'VWE', 'WAVE', 'ZTEK']

In [22]:
sector_data=[x for x in ticker_data]

In [1]:
data = load_dataset('sehyun66/Finnhub-News',split='train')

NameError: name 'load_dataset' is not defined

In [26]:
df=pd.DataFrame(data)

KeyboardInterrupt:

In [ ]:
df[df['related']=='ANGH']

In [ ]:
import matplotlib.pyplot as plt

y = [len(df[df['related']==ticker]) for ticker in ticker_data]
x = list(range(len(ticker_data)))

# Create a histogram

In [ ]:
plt.bar(x, y)

# Label the axes and give a title
plt.xlabel('X')
plt.ylabel('Y')
plt.title('Histogram with X as Index and Y as Values')
plt.ylim((0,2000))
# Show the plot
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import mplfinance as fplt

fig = plt.figure(figsize=(12, 8))
ax = fig.add_subplot()  
mpl_finance.candlestick2_ohlc(ax, Nvidia['gts_iem_ong_pr'], Nvidia['gts_iem_hi_pr'], Nvidia['gts_iem_low_pr'], Nvidia['gts_iem_end_pr'], width=0.5, colorup='r', colordown='b')
ax.xaxis.set_ticks([n for n in range(1,len(TimeIndex),30)])
ax.set_xticklabels([TimeIndex.iloc[n] for n in range(1,len(TimeIndex),30)])
plt.show()

In [ ]:
fplt.plot(  data,
            type='candle',
            style='charles',
            title='Nvidia, March - 2020',
            ylabel='Price ($)',
            volume=True,
            ylabel_lower='Shares\nTraded',
        )

In [140]:
Nvidia.index = TimeIndex
data = Nvidia.drop(columns=['trd_dt','tck_iem_cd'])
data.index.name = 'Date'
data.columns = ['Open','High','Low','Close','Volume','sll','byn']
data.index = pd.DatetimeIndex(data.index)